flows_techbase.json
[{"id":"97fe341c.9311f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"adf81edb.b37d3","type":"modbusSerialConfig","z":"97fe341c.9311f8","port":"/dev/ttySC0","baud":"9600","data":"8","parity":"none","stop":"1","name":"COM 3"},{"id":"7862b901.549498","type":"JsonWebToken_config","z":"97fe341c.9311f8","name":"","secret":"enaknyaapayasecret"},{"id":"b85af59e.bebad","type":"function","z":"97fe341c.9311f8","name":"uid2","func":"//msg.secret = \"12312341243\";\nmsg.payload = {\n    \"uid\":\"2000000000001\",\n    \"datetime\":Number(msg.payload/1000).toFixed(0),\n    \"pH\":flow.get(\"ph\"),\n    \"cod\":flow.get(\"cod\"),\n    \"tss\":flow.get(\"tss\"),\n    \"nh3n\":flow.get(\"nh3n\"),\n    \"debit\":0\n    }\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":400,"wires":[["f0cc15e3.3303f8"]]},{"id":"9b22bd35.ea15","type":"http request","z":"97fe341c.9311f8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://203.166.207.50/api/server-uji","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":400,"wires":[["177eb989.fa246e"]]},{"id":"d608422f.59d1f","type":"function","z":"97fe341c.9311f8","name":"","func":"msg.payload = {\n    \"token\":msg.token\n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":400,"wires":[["9b22bd35.ea15","16c88af5.4154d5"]]},{"id":"5e9f167.9a90f68","type":"inject","z":"97fe341c.9311f8","name":"2min","repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":235.7499885559082,"y":399.4999976158142,"wires":[["b85af59e.bebad"]]},{"id":"177eb989.fa246e","type":"debug","z":"97fe341c.9311f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1020,"y":340,"wires":[]},{"id":"6fe38e64.3676e8","type":"comment","z":"97fe341c.9311f8","name":"baca ya","info":"nanti kalo secretnya berubah, diganti di\nconfignya node warna pink \"klhk\"","x":620,"y":720,"wires":[]},{"id":"12f65779.7ebea1","type":"debug","z":"97fe341c.9311f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":100,"wires":[]},{"id":"918ab836.d7489","type":"function","z":"97fe341c.9311f8","name":"Testing token","func":"flow.set(\"ph\", 10);\nflow.set(\"cod\", 10);\nflow.set(\"nh3n\", 10);\nflow.set(\"tss\", 10);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":700,"wires":[[]]},{"id":"cc2b26fd.2b36f","type":"inject","z":"97fe341c.9311f8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":700,"wires":[["918ab836.d7489"]]},{"id":"16c88af5.4154d5","type":"debug","z":"97fe341c.9311f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":520,"wires":[]},{"id":"c89feb38.d61f38","type":"debug","z":"97fe341c.9311f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":140,"wires":[]},{"id":"37849830.e5f2e","type":"debug","z":"97fe341c.9311f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":200,"wires":[]},{"id":"d53baf4d.058b9","type":"debug","z":"97fe341c.9311f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":260,"wires":[]},{"id":"65efd022.9233d8","type":"function","z":"97fe341c.9311f8","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i < 4); //2 buffer byte per var\n\nmsg.payload = {\n    \"tss\":a[0]\n};\n\nglobal.set(\"tss\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["37849830.e5f2e"]]},{"id":"28cb1e90.fe06fa","type":"function","z":"97fe341c.9311f8","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i < 4); //2 buffer byte per var\n\nmsg.payload = {\n    \"cod\":a[0]\n};\n\nglobal.set(\"cod\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["d53baf4d.058b9"]]},{"id":"d4002e22.3c5fc","type":"function","z":"97fe341c.9311f8","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i < 4); //2 buffer byte per var\n\nmsg.payload = {\n    \"ph\":a[0]\n};\n\nglobal.set(\"ph\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["c89feb38.d61f38"]]},{"id":"d52000f9.08219","type":"function","z":"97fe341c.9311f8","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i < 4); //2 buffer byte per var\n\nmsg.payload = {\n    \"nh3n\":a[0]\n};\n\nglobal.set(\"nh3n\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["12f65779.7ebea1"]]},{"id":"c6a80d6b.ea3be8","type":"inject","z":"97fe341c.9311f8","name":"Test Modbus","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":540,"wires":[["a75c50b4.63b84"]]},{"id":"a75c50b4.63b84","type":"function","z":"97fe341c.9311f8","name":"","func":"global.set(\"ph\",1);\nglobal.set(\"cod\",2);\nglobal.set(\"tss\",3);\nglobal.set(\"nh3n\",4);\nglobal.set(\"debit\",5);\n","outputs":1,"noerr":0,"x":510,"y":540,"wires":[[]]},{"id":"c0837807.681fd","type":"modbusSerial in","z":"97fe341c.9311f8","port":"adf81edb.b37d3","slaves":"1","start":"0","count":"2","dtype":"holding","period":"3","topic":"","name":"CHEMITEC AMONIA","x":300,"y":100,"wires":[[]]},{"id":"dc91fd28.5881b8","type":"modbusSerial in","z":"97fe341c.9311f8","port":"adf81edb.b37d3","slaves":"2","start":"8000","count":"2","dtype":"holding","period":"3","topic":"","name":"PH","x":250,"y":140,"wires":[[]]},{"id":"200a139d.7d2504","type":"modbusSerial in","z":"97fe341c.9311f8","port":"adf81edb.b37d3","slaves":"16","start":"8008","count":"2","dtype":"holding","period":"3","topic":"","name":"TSS","x":250,"y":200,"wires":[[]]},{"id":"ee3e4c92.31dcd","type":"modbusSerial in","z":"97fe341c.9311f8","port":"adf81edb.b37d3","slaves":"8","start":"8020","count":"2","dtype":"holding","period":"3","topic":"","name":"COD","x":250,"y":260,"wires":[[]]},{"id":"f0cc15e3.3303f8","type":"JsonWebToken","z":"97fe341c.9311f8","name":"klhk","tokenconfig":"7862b901.549498","x":630,"y":400,"wires":[["d608422f.59d1f"]]}]